@import url("https://fonts.googleapis.com/css2?family=Gluten:wght@600;700&family=Lato:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-family: "Gluten", cursive;
}

body {
  background: linear-gradient(rgb(218, 215, 215), rgb(236, 236, 236), rgb(177, 177, 177));
  min-height: 100vh;
}

h1 {
  font-size: 3rem;
}

table {
  table-layout: fixed;
  word-wrap: break-word;
}

#pageHeader {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

#pageHeader h1 {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1.5em;
  animation-name: rotateLeftRight;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}

@keyframes rotateLeftRight {
  25% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0);
  }
}

#pageHeader h1:hover {
  animation: none;
}

#mainContent {
  width: 100%;
  min-width: 100%;
  max-width: 100%;

  #scoresContent {
    width: 45%;
    max-width: 45%;
    min-width: 45%;
    margin-right: 10%;
    overflow: hidden;

    #recentScoresHeader {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 2em;
      justify-content: space-between;
    }
  }

  #addScoreContent {
    width: 37%;
    max-width: 37%;
    min-width: 37%;

    .addYourScore {
      animation-name: blink;
      animation-iteration-count: infinite;
      animation-duration: 1s;
    }

    @keyframes blink {
      0% {
        opacity: 0;
      }

      50% {
        opacity: 1;
      }

      100% {
        opacity: 0;
      }
    }
  }
}

table {
  border: 4px solid black;
}

#notificationMessage {
  margin-top: 2em;

  .fadeMessage {
    animation-name: fadeMessage;
    animation-duration: 3s;
    opacity: 0;
    text-align: center;
  }

  @keyframes fadeMessage {
    0% {
      opacity: 0;
    }

    50% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }
}

.errorMessage {
  display: none;
  color: red;
  margin-top: 2em;
}

#loadingContent {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}


@media only screen and (max-width: 767px) { 
  h1{
    font-size: 1.5rem
  }
  h2,h3 {
    font-size: 1.5rem;
  }
}
